body {
    font-family: "Inter";
    background-color: mintcream;
}
.inputForms {
    margin-bottom: 0px;
    padding-left: 15%;
    padding-right: 60%;

}

.form-control {
    width:300px;
}

.form-label {
    margin-top: 10px;
}

.form-select {
    margin-top: 10px;
}

.row {
    min-width: 300px;
}

.btn-primary {
    background-color: #1b7749;
    border-color: forestgreen;
}

.btn-primary:hover {
    background: #519774;
    color: black;
    border-color: black;
}

.mensaje {
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-left: 15%;
}

.options {
    display: flex;
    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 60%;
    color: black;
}

.options > p {
    margin-top: 10px;
    margin-left: 80px;
    padding: 0px;
}

.crear {
    padding-left: 40px;
}

.manualButton {
    background-color: #1b7749;
    border-radius: 4.5px;
    border: none;
    text-decoration: none;
    margin-left: 135px;
}

.manualButton:hover {
    background: #519774;
    color: black;
    border-color: black;
}

.cont-panel {
    display: flex;
}

.left-panel {
    background-color: white;
    border: solid 1px rgb(222 222 222);
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(222 222 222);
    width: 30vh;
    height: 78vh;
    margin: 20px 0px 20px 20px;
}

.left-panel > table {
    margin-left: 10px;
    overflow-y: scroll;
    max-height: 50vh;
    display: block;
}

.card {
    border: solid 1px rgb(222 222 222);
    box-shadow: 0px 0px 8px rgb(222 222 222);
    margin: 25px auto 25px auto;
    min-height: 200px;
    max-height: 280px;
    justify-content: space-between;
    align-content: center;
    width: 150vh;
}

.cont-card {
    background-color: white;
    border: solid 1px rgb(222 222 222);
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(222 222 222);
    margin: 40px;
    min-height: 222px;
    max-height: 400px;
    justify-content: space-between;
    align-content: center;
    width: 145vh;
}

.cont-card.dinamic {
    padding-top: 40px;
    display: flex;
    box-shadow: none;
    justify-content: center;
}

.cont-card.dinamic > div > p {
    max-width: 160px;
    text-align: center;
}

.cont-card.dinamic > div > h1 {
    margin: 20px;
    padding: 0;
}

.cont-card > table {
    margin-left: 10px;
    overflow-x: scroll;
    max-width: 142vh;
    display: block;
}

.row-title {
    font-weight: 600;
}


.card-title {
    font-weight:600;
    margin-left: 20px;
    margin-top: 20px;
}

.databox {

}

/*.container {
    border: solid 1px rgb(222 222 222);
    box-shadow: 0px 0px 8px rgb(222 222 222);
    margin: 25px;
    min-height: 200px;
    max-height: 243px;
    width: 150vh;
}*/

.dinamic-card {
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 30px;
}

.wrap-card {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 30px;
}

.confirmation-button {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
    background-color: #63ce9b;
    border: solid 1px #1b7749;
    box-shadow: 0px 0px 8px rgb(222, 222, 222);
}

.input-title {
    margin-left: 50px;
}

.notification-button {
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    background-color: #63ce9b;
    border: solid 1px #1b7749;
    box-shadow: 0px 0px 8px rgb(222, 222, 222);
}

.row.g-3 {
    padding-left:40px;
    padding-bottom:5px; 
}

.register--form {
    background-color: rgb(243, 243, 241);
}

.centered {
    display: grid;
    margin: 25px 25% 0px 25%;
    justify-content: center;
}

.P404 {
    text-align: center;
}