footer {
    background-color: #1b7749;
    color: white;
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 10px rgb(78 77 77);
}

footer > div > img {
    width: 25px;
    padding: 20px;
}

footer > a {
    margin: auto;
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
    background: #519774;
    color: black;
}
