body {
    font-family: "Inter";
}

.AppContainer{
  background-color: rgba(53, 199, 0, 0.52);
}
main {
    margin-left: auto;
    margin-right: auto;
}


h2 {
    font-weight: 900;

    padding: 5% 10% 0% 15%;
}


.index--text {
    font-weight:600;
    padding: 5% 10% 0% 15%;
}